<h2 class="heading-text">Dynamic Multimedia</h2>
<p class="heading-text">software engineer</p>
<p class="heading-text">(2014)</p>
<br>
<p class="body-text">I worked remotely for a short time, prototyping product ideas using Node JS. The projects were typically simple API integrations, template generators, or basic website maintenance. One such project was an in-line email template editor that allowed you to edit style and content before using the MailChimp API to reach subscribers. The tool was used by a handful of small businesses.</p>