<h2 class="heading-text">Kokonect</h2>
<p class="heading-text">full-stack engineer</p>
<p class="heading-text">(2014)</p>
<br>
<p class="body-text">I built an interactive campus map for Lewis &#38; Clark College. The application includes directions to and between campus buildings, a campus event feed, and building details via an interactive custom overlay built using MapTiler and Google Maps Polygons. Building details are also searchable, and include photos, departments, and pinnable categories (e.g. designated smoking areas, public transit, or places to eat). <a href="http://maps.lclark.edu/">Check it out</a>.</p>
<br>
<p class="body-text">This was my first-ever experience building a web application. Looking back, all I see is cringe-worthy callback spaghetti, a serious case of jQuery abuse, and unspeakable (but creative) uses of socket io. BUT, it was a learning experience like no other and I came away with a solid foundation of Vanilla JS, jQuery, and the Google Maps API.</p>