<ol>
	<li class="work-experience">
		<p class="body-text"><span class="year">(2015)</span><span class="project-name">ffosbr.js</span><span class="job-title">software engineer / technical lead</span></p>
		<p class="job-description">Backup and restore utility library for Firefox OS. Senior capstone project. <a href="#work/ffosbr-js">...read more</a></p>
	</li>
	<li class="work-experience">
		<p class="body-text"><span class="year">(2015)</span><span class="project-name">iServeLife</span><span class="job-title">font-end engineer / ui + ux / architect</span></p>
		<p class="job-description">Web application connecting users to non-profit service opportunities based on their personal interests. <a href="#work/iservelife">...read more</a></p>
	</li>
	<li class="work-experience">
		<p class="body-text"><span class="year">(2015)</span><span class="project-name">Go Box</span><span class="job-title">font-end engineer</span></p>
		<p class="job-description">Mobile application helping Go Box users locate participating food carts and drop sites. <a href="#work/go-box">...read more</a></p>
	</li>
	<li class="work-experience">
		<p class="body-text"><span class="year">(2014)</span><span class="project-name">Dynamic Multimedia</span><span class="job-title">software engineer</span></p>
		<p class="job-description">Prototyping new products using mainly Node JS. Basic website maintenance. <a href="#work/dynamic-multimedia">...read more</a></p>
	</li>
	<li class="work-experience">
		<p class="body-text"><span class="year">(2014)</span><span class="project-name">Kokonect</span><span class="job-title">full-stack engineer</span></p>
		<p class="job-description">Interactive campus map web application for Lewis and Clark College. <a href="#work/kokonect">...read more</a></p>
	</li>
	<li class="work-experience">
		<p class="body-text"><span class="year">(2013)</span><span class="project-name">Vernier Software</span><span class="job-title">software intern</span></p>
		<p class="job-description">Embedded Linux development. Vernier Labquest 2 updater and various research projects. <a href="#work/vernier-software">...read more</a></p>
	</li>
</ol>
<p class="body-text footnote"><i class="fa fa-github"></i>See what else I've done on <a href="https://github.com/thomasguerena" target="_blank">Github</a></p>