<h2 class="heading-text">Go Box</h2>
<p class="heading-text">front-end engineer</p>
<p class="heading-text">(2015)</p>
<br>
<p class="body-text">I developed the Go Box mobile application. The project used Cordova (formally known as PhoneGap) and Google Polymer web components. The application allows users to find Go Box affiliated food carts, drop-offs, purchase additional Go Box tokens, and manage user accounts.</p>
<br>
<p class="body-text">The idea was to use two high-level tools to quickly knockout a simple app. In reality, Polymer was too new (frequent code breaking updates) and too much of a pain to build for Cordova. After two months of part-time development with the talented <a href="https://github.com/RubenSandwich">Ruben Niculcea</a>, struggling to get the two technologies to play nice, we spent an afternoon and replaced all the web components with standard HTML5. Voila. The experiment was fun while it lasted.</p>
<br>
<p class="body-text">Ruben leads the development of all Go Box products. You can download the app for Android or iOS <a href="https://www.goboxpdx.com/#mobileApp">here</a>, or visit the <a href="https://www.goboxpdx.com/">Go Box website</a> for more information.</p>