<h2 class="heading-text">iServeLife</h2>
<p class="heading-text">font-end engineer / ui + ux / architect</p>
<p class="heading-text">(2015)</p>
<br>
<p class="body-text">I was the architect and front-end developer for the web application <i>iServeLife</i>. The application, currently in closed beta, connects users with non-profit service opportunities relevant to their interests. The service provides users goals, service history, and certified transcripts which can be mailed directly to any recipient (e.g. university admissions). Users simply choose from a list of curated service opportunities and all further coordination is handled for them. For organization leaders, we provide user-progress tracking and organization-wide statistics.</p>
<br>
<p class="body-text">The application was built using a RequireJS/Backbone front-end, a NodeJS Express server back-end, a SQL database, and a grunt build system.</p>
<br>
<p class="body-text">The site is unavailable, but here are some screenshots.</p>
<% for (var i = 1; i < 7; ++i) { %>
	<img src=<%="assets/iServeLife" + i + ".png"%>>
<% } %>
<p class="body-text">I'll make sure to update this page if the application leaves closed beta. However, my current involvement with the project is minimal.</p>